<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Rainbow</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href="./weui.min.css" rel="stylesheet" />
    <link href="./jquery-weui.css" rel="stylesheet" />
    <link href="./wechat.css" rel="stylesheet" />
    <link rel="stylesheet" href="./ticket.css" />
    <script src="./vue.js"></script>
    <style type="text/css">
        /* body {
         overflow: hidden;
     }*/
        .weui_cell_new:before {
            content: " ";
            position: absolute;
            top: 0;
            width: 100%;
            height: 1px;
            color: #D9D9D9;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
            left: 15px;
        }

        .weui_cell {
            border-bottom: 1px solid #f2f2f2;
        }

        .weui_cell:after {
            border: none;
        }

        #orderDetail {
            position: absolute;
            padding-bottom: 80px;
            top: 50px;
            bottom: 35px;
            left: 0;
            right: 0;
        }

        #nowTicket {
            width: 97%;
            padding: 6px 1.5%;
            background: #fff;
            border-radius: 6px;
        }

        .open_wechat {
            display: none;
            position: fixed;
            top: -1px;
            left: 0;
            z-index: 10;
        }

        .open_wechat img {
            width: 100%;
        }

        #share {
            display: none;
        }

        .every_bill_title {
            margin-right: 16px;
        }
    </style>
    <style>
        .settings {
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.4);
        }
        .settings_container {
            position: absolute;
            top: 100px;
            width: 100%;

        }
    </style>
</head>

<body>
    <div id="ferryDetails">
        <div class="headerBar ">
            <a class="go_back" href="javascript:void(0);"></a>
            订单详情
        </div>
        <div v-show="!showPage" class="settings">
            <div class="weui_panel settings_container">
                <div class="weui_cells_title">{{routeName}}</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <label class="weui_label" for="firstStationName">起点</label>
                        <input class="weui_input" id="firstStationName" type="text" placeholder="起点" v-model="firstStationName">
                    </div>
                    <div class="weui_cell">
                        <label class="weui_label" for="lastStationName">终点</label>
                        <input class="weui_input" id="lastStationName" type="text" placeholder="终点" v-model="lastStationName">
                    </div>
                    <div class="weui_cell">
                        <label class="weui_label" for="carTime">日期</label>
                        <input class="weui_input" id="carTime" type="text" placeholder="日期" v-model="carTime">
                    </div>
                    <div class="weui_cell">
                        <label class="weui_label" for="money">价格</label>
                        <input class="weui_input" id="money" type="text" placeholder="价格" v-model="money">
                    </div>
                </div>
                <div class="weui_btn_area">
                    <button class="weui_btn weui_btn_primary" @click="setRoute(0)">早班</button>
                    <button class="weui_btn weui_btn_primary" @click="setRoute(1)">晚班</button>
                </div>
            </div>
        </div>
        <div>
            <div class="content" id="orderDetail">
                <div class="driver_name" style="display: none;">
                    <p class="diver_name_word" id="busDriver1"></p>
                    <p class="diver_procurator" id="procurator"></p>
                </div>
                <div class=" bill_number" style="height: 10px;">
                    <!--订单编号：<span id="orderNum"></span>-->
                </div>

                <div class="today_ticket" style="padding:10px 0; background: #fff" v-if="isCheckTicket">
                    <div class="ticket_title clearfix" style="height: 98px;">
                        <h3 class="route_name" v-text="routeName"></h3>
                        <div class="start_end clearfix">
                            <p class=" start_ads clearfix" style=" height:18px; line-height: 18px; font-size: 13px;">
                                <i class=" cleft start_circle"></i>
                                <span class="cleft" v-text="firstStationName"></span>
                            </p>
                            <p class=" end_ads clearfix" style=" height:18px; line-height: 18px; font-size: 13px;">
                                <i class="cleft end_circle"></i>
                                <span class="cleft" v-text="lastStationName"></span>
                            </p>
                        </div>
                    </div>
                    <div class="" style="height:200px;">
                        <!--<h3 style=" margin-top: 12px; font-size: 43px; padding: 36px 0 0; text-align: center;color:#486ba6; " id="car_number1"></h3>-->
                        <div class="seat_info" style="color: #486ba6;">
                            <div class="clearfix bg_animate seat_info_block" style=" position: absolute; top: 96px; font-size: 1.5rem; font-weight: bold; width:100%; margin: 0 auto;text-align: center;z-index: 10; background-image: none;">
                                <div>
                                    <span v-text="carTime"></span>
                                </div>
                            </div>
                            <!--旋转-->
                            <div class="circles" style="top:0" v-show="isCheckTicket">
                                <!--v-show="isCheckTicket"-->
                                <div></div>
                                <div></div>
                                <div></div>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="otherTicket" class="bill_details" style="padding-bottom: 13px;" v-if="!isCheckTicket">
                    <div class="clearfix route_details_title">
                        <h3 class="route_name cleft" id="route_name1" v-text="routeName"></h3>
                    </div>
                    <div class="start_end">
                        <div class="clearfix start_point mt2">
                            <i class=" cleft start_circle"></i>
                            <p class="cleft" style="width: 84%; overflow:hidden; white-space: nowrap;text-overflow: ellipsis "
                                v-text="firstStationName"></p>
                        </div>

                        <div class="clearfix end_point">
                            <i class=" cleft end_circle"></i>
                            <p class="cleft" style="width: 84%; overflow:hidden; " v-text="lastStationName"></p>
                        </div>
                    </div>
                    <div class="seat_info" style="display: none;">
                        <div class="clearfix seat_info_block" style="font-weight: bold; width:90%; margin: 0 auto;text-align: center;">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="more_operate" class="clearfix more_operate" style="display: none;">
                    <a id="join_talk" class="cleft car_position join_talk_2">加入群聊</a>
                    <a id="vp" class="cright car_position" href="javascript:void(0);">站点信息</a>
                </div>
                <div id="other_details_info">
                    <div class="bill_details">
                        <h3 class="route_details_title">乘车信息</h3>
                        <ul class="bill_details_list">
                            <li class="clearfix">
                                <span class="cleft every_bill_title">乘车日期:</span>
                                <p class="cleft" style="color: #00a7d0; font-weight: bold;" v-text="carTime"></p>
                            </li>
                        </ul>
                    </div>

                    <div class="bill_details">
                        <h3 class="route_details_title">支付信息</h3>
                        <ul class="bill_details_list">
                            <li class="clearfix">
                                <span class="cleft every_bill_title">实付金额:</span>
                                <p class="cleft" id="paid" v-text="money"></p>
                            </li>
                            <li class="clearfix">
                                <span class="cleft every_bill_title">订单状态:</span>
                                <p class="cleft" id="orderState" v-text="orderStatusT"></p>
                            </li>
                            <li class="clearfix">
                                <span class="cleft every_bill_title ">下单日期</span>
                                <p class="cleft orange" style="color: #999;" v-text="carTime"></p>
                            </li>
                            <li class="clearfix">
                                <span class="cleft every_bill_title ">订单编号</span>
                                <p class="cleft orange" style="color: #999;" v-text="orderNumber"></p>
                            </li>
                        </ul>
                    </div>
                    <div style="height: 2px;background: #f2f2f2;"></div>
                    <div class="weui_cell_new" style="display:none ;padding: 0px 10px 0px 10px;">
                        <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;">
                            <span>发车时间：</span><span id="routeTime"></span>
                            <button id="payMoney" style="display: none;float: right;margin-right: 10px;color:white;
                        height: 30px;width: 60px;background-color: #05B402;border: 0;border-radius: 5px;">支付
                            </button>

                        </div>
                    </div>
                </div>



                <div class="weui_cells" style=" display:none ;margin-top:0;background-color: white;">
                    <div class="weui_cell" style="padding: 10px;border:0;">
                        <div class="weui_cell_bd weui_cell_primary">
                            <span id="type"></span>
                        </div>
                        <div class="weui_cell_new">
                            <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;">
                                <!--<span>下单时间：</span><span id="createTime"></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="weui_cell" style="padding: 5px 10px 5px 10px;">
                        <div class="weui_cell_bd weui_cell_primary" style=" font-size: 16px">
                            <span id="routeName"></span>
                        </div>
                    </div>
                    <div class="weui_cell_new" style="padding: 0px 10px 0px 10px;border-top: 5px;">
                        <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px">
                            <span>行&#12288;&#12288;程：</span><span id="distance"></span><span>公里</span>
                        </div>
                    </div>
                    <div class="weui_cell_new" style="padding: 0px 10px 0px 10px;">
                        <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px;">
                            <span>用&#12288;&#12288;时：约<span id="tripTime"></span>分钟</span>
                        </div>
                    </div>

                    <div class="weui_cell_new" style="padding: 0px 10px 0px 10px;border-top: 5px;">
                        <div class="weui_cell_bd weui_cell_primary" style="font-size: 12px">
                            <span>到站时间：</span><span id="firstTime"></span>
                        </div>
                    </div>
                    <div class="weui_cell weui-row weui-no-gutter" style="font-size: 14px; ">
                        <div class="weui_cell_bd weui_cell_primary weui-col-60">
                            <span>车票</span>
                        </div>
                        <div class=" weui-col-40 weui-row weui-no-gutter" style="color: red">
                            <span class="weui-col-50" style="padding-left: 15%;">X<span id="count"></span></span>
                            <span class="weui-col-50">￥<span id="ticketPrice"></span></span>
                        </div>
                    </div>
                    <div id="service" class="weui_cells" style="margin-top: 0"></div>

                </div>
            </div>
            <div class="pay_moneyDiv" style="position: fixed; padding-top: 0;">
                <a id="btn_a" href="javascript:;" class="weui_btn_warn pay_money_btn">继续乘车</a>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#ferryDetails',
            data: {
                showPage: false,
                routeName: '',
                orderId: '',
                orderNumber: 'D1543487502669B149811',
                carTime: '',
                driveName: '',
                money: '5.00',
                orderStatus: 0,
                isCheckTicket: false,
                firstStationName: '畅悦居中路',
                lastStationName: '腾讯众创空间（北京）',
                AMPM: ['C003畅悦居-霍营地铁站(早班)', 'C003霍营地铁站-畅悦居(晚班)']
            },
            mounted: function () {
                // this.getDetails();
                this.carTime = this.getCarTime();
                this.routeName = this.AMPM[0]
            },
            computed: {
                orderStatusT: function () {
                    if (this.orderStatus == 0) {
                        return '已支付'
                    } else {
                        return '已失效'
                    }
                }
            },
            methods: {
                getDetails: function () {
                    var orderInfo = {
                        "isArchived": 0,
                        "id": "154348750287822099187",
                        "routeType1": 0,
                        "isFavorable": null,
                        "nonce_str": "98F3C7095E8E104FC156",
                        "prepay_id": "wx29183142829459cf4b55cbfb2120853820",
                        "driverName": "袁师傅",
                        "bus_number": "C004",
                        "bus_order_number": "京AW7502",
                        "driverId": 225,
                        "goodNo": 0,
                        "badNo": 0,
                        "service_number_plans_id": 16078,
                        "sumPrice": "3.00",
                        "sfMoney": "3.00",
                        "ticketCount": 1,
                        "orderSeats": null,
                        "seatNum": null,
                        "evaluation": null,
                        "money": "0.00",
                        "passengerId": 149811,
                        "ticketCoupons": 0,
                        "state": 0,
                        "isCheckTicket": 1,
                        "routeName": "C003霍营地铁站-畅悦居(晚班)",
                        "routesId": 682,
                        "routeType": 0,
                        "firstTime": "18:00:00",
                        "finalTime": "21:05:00",
                        "distance": 0,
                        "createTime": "2018-11-29 18:31:42",
                        "create_time": "2018-11-29T10:31:42.000Z",
                        "orderNumber": "D1543487502669B149811",
                        "ticketPrice": "3.00",
                        "serviceDate": "2018-11-29",
                        "serviceEndDate": "2018-11-29 21:05",
                        "serviceTime": "18:00:00",
                        "enable": 1,
                        "complete": 0,
                        "snpId": 16078,
                        "serviceDateTime": "2018-11-29 17:30",
                        "first_stationTime": "2018-11-29 18:00",
                        "last_stationTime": "2018-11-29 18:15",
                        "up_station_id": 16411,
                        "down_station_id": 14753,
                        "now": "2018-11-29 18:31:52",
                        "up_station_name": "腾讯众创空间（北京）",
                        "down_station_name": "畅悦居中路",
                        "buy_ticket_type": null,
                        "up_station_time": "2018-11-29 00:00"
                    };
                    var details = orderInfo;
                    this.orderId = details.id;
                    this.orderNumber = details.orderNumber;
                    this.carTime = this.getCarTime();
                    this.driveName = details.driverName;
                    this.routeName = details.routeName;
                    this.money = details.sumPrice;
                    this.orderStatus = details.state;
                    this.firstStationName = details.up_station_name;
                    this.lastStationName = details.down_station_name;
                    if (details.isCheckTicket == 1) { //是否验票
                        this.isCheckTicket = true;
                    }
                },
                getCarTime: function () {
                    var now = new Date()
                    var fnNum = function (num) {
                        return num < 10 ? '0' + num : num
                    }
                    return [now.getFullYear(), fnNum(now.getMonth() + 1), fnNum(now.getDate())].join('-')
                },
                setRoute: function (type) {
                    // 默认早班，type = 1 为晚班
                    if (type == 1) {
                        var temp = this.firstStationName
                        this.firstStationName = this.lastStationName
                        this.lastStationName = temp
                    }
                    this.routeName = this.AMPM[type]
                    this.showPage = true
                    this.isCheckTicket = true;
                }
            }
        })
    </script>
</body>

</html>